---
---
<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
<meta charset="utf-8">
<meta property="og:title" content="プログラミング・シンポジウム"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}"/>
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ "/assets/images/prosym2_square_white.png" | relative_url }}"/>
<meta property="og:description" content="プログラミング・シンポジウムは通常のシンポジウムとは異なり，自由な雰囲気の中で，計算機の無限の可能性を開拓していく「夢のシンポジウム」を目指したものです．1960年に第1回目が開催されて以来，これまでに将来を展望したプログラミング技術などに関して，毎年活発な討論が行われ，その中から数多くの斬新なアイディアが生まれてきました．"/>
<meta property="og:locale" content="ja_JP"/>
<meta property="og:site_name" content="プログラミング・シンポジウム"/>
<meta name="twitter:card" content="summary"/>
<title>プログラミング・シンポジウム</title>
<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" type="text/css" />
<link rel="icon" href="{{ "/assets/images/prosym2_white_square.svg" | relative_url }}" type="image/svg+xml">
<link rel="stylesheet" href="{{ "/assets/css/home.css" | relative_url }}" type="text/css" />
</head>
<body id="home">
<header id="home-header" class="home">
<div id="home-symbol-title">
<img id="home-prosym-symbol" src="{{ "/assets/images/prosym2_white.svg" | relative_url }}" width="114" height="96" alt="[PS]"/>
<h1 id="home-title">プログラミング・シンポジウム</h1>
</div>
</header>
<main>

<section id="news">
<h2>最新情報</h2>
<ul>
<li><a href="{{ "/articles/2022/01/24/new-website.html" | relative_url }}">サイト全体を大きく刷新しました。</a> (2022年1月24日)</li>
<li><a href="{{ "/articles/2020/12/18/past_reports.html" | relative_url }}">過去のプログラミング・シンポジウム報告集の利用許諾について</a>を掲示しました。 (2020年12月18日)</li>
<li><code class="url"><a href="http://www.ipsj.or.jp/prosym/">http://www.ipsj.or.jp/prosym/</a></code> から <code class="url"><a href="https://prosym.org/">https://prosym.org/</a></code> に移動しました。 (2020年7月3日)</li>
</ul>
</section>

<section id="scheduled-events">
<h2>最近のイベント</h2>
<ul class="scheduled-event-items">
<li class="scheduled-event-item"><a href="64/">第64回 プログラミング・シンポジウム</a><ul>
  <li>日程: 2023年1月6日(金) ～ 8日(日)</li>
  <li>会場: ラフォーレ修善寺 (オンラインとのハイブリッド)</li>
  <li><a href="64/cfp.html">論文・発表募集のご案内</a></li>
  <li>参加募集のご案内 (TBA)</li>
  <li>プログラム (TBA)</li></ul></li>
<li class="scheduled-event-item"><a href="https://wakate.org/2022/08/10/55th-general/">第55回 情報科学若手の会</a></span><ul>
  <li>日程: 2022年9月23日 (金・祝) 〜 25日 (日)
  <li>会場: <a href="https://www.kato-karuizawa.jp/">加藤山崎教育基金 軽井沢研修所</a>（長野県北佐久郡軽井沢町大字長倉大日向5607）</li>
  <li>(2泊3日の合宿形式とオンライン参加のハイブリッド)</li></ul></li>
<li class="scheduled-event-item">夏のプログラミング・シンポジウム 2022<ul>
  <li>この年の開催はありませんでした。</li></ul></li></ul>
</section>

<section id="about">
<h2>プログラミング・シンポジウムについて</h2>
<ul>
<li><a href="prosynstartup0.html">プログラミング・シンポジウム こと始め</a></li>
<li><a href="prior.html">過去のプログラミング・シンポジウム</a></li>
<li><a href="logo.html">プロシンのロゴマーク</a></li>
<li><a href="awards/">山内奨励賞・山内業績賞</a></li>
</ul>
</section>

<section id="articles">
<h2><a href="articles/">記事</a></h2>
<ul class="articles">{% for post in site.posts %}
<li class="article"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> <span class="collation">({% if post.author_name %}{{ post.author_name }}; {% endif %}{{ post.date | date: "%Y" }}年{{ post.date | date: "%-m" }}月{{ post.date | date: "%-d" }}日)</span></li>{% endfor %}
</ul>
</section>

</main>

{% include footer.html %}

</body>
</html>
