---
---
<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
<meta charset="utf-8">
<meta property="og:title" content="プログラミング・シンポジウム"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}"/>
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ "/assets/images/prosym2_square_white.png" | relative_url }}"/>
<meta property="og:description" content="プログラミング・シンポジウムは通常のシンポジウムとは異なり，自由な雰囲気の中で，計算機の無限の可能性を開拓していく「夢のシンポジウム」を目指したものです．1960年に第1回目が開催されて以来，これまでに将来を展望したプログラミング技術などに関して，毎年活発な討論が行われ，その中から数多くの斬新なアイディアが生まれてきました．"/>
<meta property="og:locale" content="ja_JP"/>
<meta property="og:site_name" content="プログラミング・シンポジウム"/>
<meta name="twitter:card" content="summary"/>
<title>プログラミング・シンポジウム</title>
<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" type="text/css" />
<link rel="icon" href="{{ "/assets/images/prosym2_white_square.svg" | relative_url }}" type="image/svg+xml">
<link rel="stylesheet" href="{{ "/assets/css/home.css" | relative_url }}" type="text/css" />
</head>
<body id="home">
<header id="home-header" class="home">
<div id="home-symbol-title">
<img id="home-prosym-symbol" src="{{ "/assets/images/prosym2_white.svg" | relative_url }}" width="114" height="96" alt="[PS]"/>
<h1 id="home-title">プログラミング・シンポジウム</h1>
</div>
</header>
<main>

<section id="news">
<h2>最新情報</h2>
<ul>
<li>GPCC のサイトが <code class="url"><a href="http://hp.vector.co.jp/authors/VA003988/gpcc/gpcc.htm">http://hp.vector.co.jp/authors/VA003988/gpcc/gpcc.htm</a></code> から <code class="url"><a href="https://prosym.org/gpcc/">https://prosym.org/gpcc/</a></code> に移転しました。 (2024年12月12日)</li>
<li><a href="{{ "/articles/2022/01/24/new-website.html" | relative_url }}">サイト全体を大きく刷新しました。</a> (2022年1月24日)</li>
<li><a href="{{ "/articles/2020/12/18/past_reports.html" | relative_url }}">過去のプログラミング・シンポジウム報告集の利用許諾について</a>を掲示しました。 (2020年12月18日)</li>
<li><code class="url"><a href="http://www.ipsj.or.jp/prosym/">http://www.ipsj.or.jp/prosym/</a></code> から <code class="url"><a href="https://prosym.org/">https://prosym.org/</a></code> に移動しました。 (2020年7月3日)</li>
</ul>
</section>

<section id="scheduled-events">
<h2>最近のイベント</h2>
<ul class="scheduled-event-items">

<li class="scheduled-event-item"><a href="67/">第67回 プログラミング・シンポジウム</a><ul>
  <li>日程: 2026年1月9日(金) 〜 11日(日)</li>
  <li>会場: <span style="font-weight: bold; color: red;">ホテルラフォーレ那須</span> (注: 前々回と開催場所が異なります)<ul>
    <li>オンラインとのハイブリッド</li></ul></li>
  <!--<li><a href="67/cfp.html">論文募集のご案内</a></li></ul></li>-->
  <li><del><a href="67/cfp.html">論文・発表募集のご案内</a></del> (終了しました)</li>
  <li><a href="67/cfa.html">参加募集のご案内</a></li>
  <li><a href="67/program.html">プログラム（暫定版）</a></li>
</ul></li>

<li class="scheduled-event-item"><a href="https://wakate.org/2025/08/18/58th-general/">第58回 情報科学若手の会</a></span><ul>
  <li>日程: 2025年10月11日 (土) 〜 13日 (月・祝)
  <li>会場: <a href="https://www.kato-karuizawa.jp/">加藤山崎教育基金 軽井沢研修所</a><ul>
    <li>長野県北佐久郡軽井沢町大字長倉大日向5607</li></ul></li></ul></li>

<li class="scheduled-event-item"><a href="https://prosym.org/sprosym2025/">夏のプログラミング・シンポジウム 2025</a><ul>
 <li>日程: 2025年9月8日 (月) 〜 9日 (火)</li>
 <li>会場: <a href="https://www.laforet.co.jp/ito/">ラフォーレ伊東温泉 湯の庭</a></li>
 <li>発表申込: 2025年6月27日 (金) 〜 7月17日 (木)</li>
 <li>参加申込: 2025年7月14日 (月) 〜 8月7日 (木)</li></ul></li>

</ul>
</section>

<section id="about">
<h2>プログラミング・シンポジウムについて</h2>
<ul>
<li><a href="articles/2022/09/29/beginning.html">プログラミング・シンポジウムのはじまり</a></li>
<li><a href="prior.html">過去のプログラミング・シンポジウム</a></li>
<li><a href="logo.html">プロシンのロゴマーク</a></li>
<li><a href="awards/">山内奨励賞・山内業績賞</a></li>
</ul>
</section>

<section id="articles">
<h2><a href="articles/">記事</a></h2>
<ul class="articles">{% for post in site.posts %}
<li class="article"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> <span class="collation">({% if post.author_name %}{{ post.author_name }}; {% endif %}{{ post.date | date: "%Y" }}年{{ post.date | date: "%-m" }}月{{ post.date | date: "%-d" }}日)</span></li>{% endfor %}
</ul>
</section>

</main>

{% include footer.html %}

</body>
</html>
