@import url("./prosym.css");

body#home header {
    padding: 2em 1em 1em 1em;
    overflow: hidden;
}

body#home header div#symbol-title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

body#home header div#symbol-title img#prosym-symbol {
    margin: 3em 0 1em 0;
    padding: 0;
    top: 0;
    width: 114px;
    height: 96px;
}

body#home header div#symbol-title h1#title {
    margin: 1em 0 1.5em 0;
    padding: 0;
    top: 0;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body#home main {
    margin: 0;
    padding: 0 1em 0 2em;
}

body#home main section h2 {
    font-size: larger;
}

body#home main section#scheduled-events ul.scheduled-event-items {
    margin: 0;
}

body#home main section#scheduled-events ul.scheduled-event-items li.scheduled-event-item {
    margin: 0 0 1em 0;
    font-size: larger;
    list-style: none;
}

@media screen and (min-width:1280px) {
    body#home main section#scheduled-events ul.scheduled-event-items {
        display: flex;
        flex-flow: row nowrap;
        padding: 0;
        margin: 0 2em 0 2em;
    }

    body#home main section#scheduled-events ul.scheduled-event-items li.scheduled-event-item {
        min-width: 30%;
        max-width: 32%;
        box-sizing: border-box;
        margin: 0 0.5em 0.5em 0.5em;
        padding: 8px;
        border: solid 1px #aaddaa;
    }
}

body#home main section#scheduled-events ul.scheduled-event-items li.scheduled-event-item > ul {
    font-size: initial;
}

body#home main section#scheduled-events ul.scheduled-event-items li.scheduled-event-item > ul > li:first-child {
    margin-top: 3px;
}

body#home footer {
    background-color: #666666;
    color: #cccccc;
    padding: 1em;
    margin: 0;
    overflow: hidden;
    border-top: solid 1px #333333;
}

body#home footer a {
    color: #cccccc;
    text-decoration: none;
}

body#home footer a:hover {
    text-decoration: underline;
}

body#home footer p.copyright {
    font-size: smaller;
    margin: 0;
    padding: 0;
    float: right;
}
