/*
 * プログラミング・シンポジウム CSS [ホームページ (トップページ) 用]
 */
@import url("./prosym.css");

header#home-header {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header#home-header div#home-symbol-title {
    margin: 2rem auto 2rem auto;
    padding: 0;
    top: 0;
}

header#home-header div#home-symbol-title img#home-prosym-symbol {
    display: block;
    margin: 0 auto 2rem auto;
    padding: 0;
    width: 9.5rem;  /* 8.0 * 760.0 / 640.0 */
    height: 8.0rem;
}

header#home-header div#home-symbol-title h1#home-title {
    margin: 2rem 0 0 0;
    padding: 0;
    text-align: center;
    font-size: 2.4rem;
}

body#home main {
    margin: 0;
    padding: 1.5rem 2rem 1.5rem 2rem;
}

body#home main section h2 {
    font-size: larger;
}

body#home main section#scheduled-events ul.scheduled-event-items {
    margin: 0;
}

body#home main section#scheduled-events ul.scheduled-event-items li.scheduled-event-item {
    margin: 0 0 1rem 0;
    font-size: larger;
    list-style: none;
}

@media screen and (min-width:1280px) {
    body#home main section#scheduled-events ul.scheduled-event-items {
        display: flex;
        flex-flow: row nowrap;
        padding: 0;
        margin: 0 2rem 0 2rem;
    }

    body#home main section#scheduled-events ul.scheduled-event-items li.scheduled-event-item {
        min-width: 30%;
        max-width: 32%;
        box-sizing: border-box;
        margin: 0 0.5rem 0.5rem 0.5rem;
        padding: 8px;
        border: solid 1px #aaddaa;
    }
}

body#home main section#scheduled-events ul.scheduled-event-items li.scheduled-event-item > ul {
    font-size: initial;
}

body#home main section#scheduled-events ul.scheduled-event-items li.scheduled-event-item > ul > li:first-child {
    margin-top: 3px;
}
