/*
 * プログラミング・シンポジウム CSS [固定ページ用]
 */
@import url("./prosym.css");

body#page header {
    padding: 1.5rem 1rem 1.5rem 1rem;
    overflow: hidden;
}

body#page header div#symbol-title {
    margin: 0;
    padding: 0;
    top: 0;
    float: left;
}

body#page header div#symbol-title img#prosym-symbol {
    margin: 0;
    padding: 0;
    top: 0;
    width: 3.8rem;  /* 3.2 * 760 / 640 */
    height: 3.2rem;
    vertical-align: middle;
}

body#page header div#symbol-title h1#title {
    display: inline;
    margin: 0 0 0 8px;
    padding: 0;
    top: 0;
    vertical-align: middle;
    font-size: 1.8rem;
}

body#page header div#symbol-title h1#title a {
    color: #336699;
    text-decoration: none;
}

body#page header div#symbol-title h1#title a:hover {
    text-decoration: underline;
}

body#page main {
    margin: 0;
    padding: 1.5em 2em 1.5em 2em;
}

body#page main section h2 {
    font-size: larger;
}
