body {
    background-color: #ccffcc;
    margin: 0;
    padding: 0;
    top: 0;
}

header {
    background-color: #eeffee;
    border-bottom: solid 1px #cccccc;
    margin: 0;
    padding: 0;
    top: 0;
}

main code.url {
    font-family: monospace;
}

main a {
    color: #225588;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
}

main a:hover, a:active, a:focus {
    color: #003366;
    text-decoration-style: solid;
}

footer p.copyright {
    margin: 0;
    padding: 0 3em 0 3em;
    text-align: right;
    font-size: smaller;
}
