body {
    margin: 0;
    padding: 0;
    top: 0;
    background-color: #ccffcc;
}

header {
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
    background-color: #eeffee;
}

header a {
    color: #666666;
    text-decoration: none;
}

header a:hover, a:active, a:focus {
    text-decoration: underline;
}

header > nav.hierarchy {
    margin: 0;
    padding: 2px 4px 2px 8px;
    top: 0;
    border-bottom: solid 1px #cccccc;
    color: #666666;
    font-size: 0.9rem;
}

header > nav.hierarchy > ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: "\00BB";  /* » &raquo; */
}

header > nav.hierarchy > ul > li {
    margin: auto 0 auto 1rem;
    padding: 0 0 0 0.5rem;
    white-space: nowrap;
}

header > nav.hierarchy > ul > li:first-child {
    margin: auto 0 auto 0;
    padding: 0;
    list-style: none;
}

/* div#heading-lines は <header></header> 内にも <main><article></article></main> 内にも両方来る可能性がある。 */
div#heading-lines {
    margin: 0;
    padding: 1rem 0.5rem 1rem 0.5rem;
    top: 0;
    overflow: hidden;
    background-color: #eeffee;
    border-bottom: solid 1px #ccddcc;
}

div#heading-lines > div#heading-title-line {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 0 4px 0;
    padding: 0;
    top: 0;
    overflow: hidden;
    background-color: #eeffee;
}

div#heading-lines > div#heading-title-line > div#prosym-symbol img#prosym-symbol {
    margin: 0 8px 0 0;
    padding: 0;
    width: 3.8rem;  /* 3.2 * 760 / 640 */
    height: 3.2rem;
    vertical-align: middle;
}

div#heading-lines > div#heading-title-line > div#title > h1 {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
}

div#heading-lines > div#heading-title-line > div#title > h1 a {
    color: #336699;
    text-decoration: none;
}

div#heading-lines > div#heading-title-line > div#title > h1 a:hover, a:active, a:focus {
    color: #225588;
    text-decoration: underline;
}

div#heading-lines > div#heading-bibliography-line {
    display: flex;
    margin: 4px 0 0 0;
    padding: 0;
    top: 0;
    flex-flow: row wrap;
    justify-content: flex-end;
}

div#heading-lines > div#heading-bibliography-line > div#article-author {
    margin: 0 1rem 0 0;
    padding: 0;
}

div#heading-lines > div#heading-bibliography-line > div#article-date {
    margin: 0 1rem 0 1rem;
    padding: 0;
}

div#heading-lines > div#heading-bibliography-line > div#article-author a {
    color: #666666;
    text-decoration: none;
}

div#heading-lines > div#heading-bibliography-line > div#article-author a:hover, a:active, a:focus {
    text-decoration: underline;
}

main {
    margin: 0;
    padding: 0;
    top: 0;
}

main code.url {
    overflow-wrap: break-word;
    word-break: break-all;
    font-family: monospace;
}

main a {
    color: #225588;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
}

main a:hover, a:active, a:focus {
    color: #003366;
    text-decoration-style: solid;
}

main > article > section#article-body {
    margin: 1.5rem 2rem 1.5rem 2rem;
    padding: 0;
}

main h2 {
    margin: 0.8rem 0 0.8rem 0;
    padding: 0 0 2px 4px;
    border-left: solid 8px #999999;
    border-bottom: dashed 1px #999999;
    color: #333333;
    font-size: 1.1rem;
    font-weight: bold;
}

main ul.articles li.article-year {
    margin: 1.5rem 0 0 0;
    padding: 0;
    list-style: none;
}

main ul.articles li.article-year:first-child {
    margin: 0;
}

main ul.articles li.article-year ul.articles-per-year li.article {
    margin-top: 0.25rem;
}

main ul.articles li.feed {
    margin: 1.5rem 0 0 0;
    padding: 0;
    list-style: none;
}

main ul.articles li.feed a:before {
    display: inline;
    content: "";
    margin: 0 4px 0 0;
    padding: 0 1rem 0 0;
    background-image: url("/assets/images/feed-icon.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

footer {
    margin: 0;
    padding: 1.5rem 3rem 1.5rem 3rem;
    overflow: hidden;
    background-color: #666666;
    color: #cccccc;
    border-top: solid 1px #333333;
}

footer a {
    color: #cccccc;
    text-decoration: none;
}

footer a:hover, a:active, a:focus {
    text-decoration: underline;
}

footer p.license {
    margin: 0 0 1rem 0;
    padding: 0;
    text-align: right;
    font-size: smaller;
}

footer nav#bottom-navigation {
    margin: 0;
    padding: 0;
    font-size: smaller;
}

footer nav#bottom-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
