body {
    background-color: #ccffcc;
    margin: 0;
    padding: 0;
    top: 0;
}

header {
    background-color: #eeffee;
    border-bottom: solid 1px #cccccc;
    margin: 0;
    padding: 0;
    top: 0;
}

code.url {
    font-family: monospace;
}

p.copyright {
    margin: 0;
    padding: 0 3em 0 3em;
    float: right;
    font-size: smaller;
}
