/*
 * プログラミング・シンポジウム CSS [シンポジウム各回ページ用 - 第1回 〜 第43回共通]
 *
 * - この CSS ファイルを不用意に変更すると、過去のページが壊れる可能性があります。
 */
@import url("./prosym.css");

body#symposium0 header {
    padding: 1.5em 1em 1.5em 1em;
    overflow: hidden;
}

body#symposium0 header div#symbol-title {
    margin: 0;
    padding: 0;
    top: 0;
    float: left;
}

body#symposium0 header div#symbol-title img#prosym-symbol {
    margin: 0;
    padding: 0;
    top: 0;
    width: 2.85rem;  /* 2.4 * 760 / 640 */
    height: 2.4rem;
    vertical-align: middle;
}

body#symposium0 header div#symbol-title h1#title {
    display: inline;
    margin: 0 0 0 16px;
    padding: 0;
    top: 0;
    vertical-align: middle;
    font-size: 1.8rem;
}

body#symposium0 header div#symbol-title h1#title a {
    color: #336699;
    text-decoration: none;
}

body#symposium0 header div#symbol-title h1#title a:hover {
    text-decoration: underline;
}

body#symposium0 main {
    margin: 0;
    padding: 0 1em 0 2em;
}

body#symposium0 main section h2 {
    font-size: larger;
}

body#symposium0 footer {
    margin: 0;
    padding: 1.5em 1em 1.5em 1em;
    overflow: hidden;
    background-color: #666666;
    color: #cccccc;
    border-top: solid 1px #333333;
}

body#symposium0 footer a {
    color: #cccccc;
    text-decoration: none;
}

body#symposium0 footer a:hover {
    text-decoration: underline;
}

body#symposium0 footer nav#bottom-navigation {
    margin: 0;
    padding: 0 3em 0 3em;
    font-size: smaller;
}

body#symposium0 footer nav#bottom-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
