---
---
<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
<meta charset="utf-8">
<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}"/>
{% if page.image %}<meta property="og:image" content="{{ page.image }}"/>{% else %}<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ "/assets/images/prosym2_white_200x200.png" | relative_url }}"/>{% endif %}
{% if page.description %}<meta property="og:description" content="{{ page.description }}"/>{% endif %}
<meta property="og:locale" content="ja_JP"/>
<meta property="og:site_name" content="プログラミング・シンポジウム"/>
<meta name="twitter:card" content="summary"/>
<title>{{ page.title }}</title>
{% if page.feed %}<link rel="alternate" href="{{ page.feed | relative_url }}" type="application/atom+xml"{% if page.feed_title %} title="{{ page.feed_title }}"{% endif %}/>{% endif %}
{% if page.canonical_url %}<link rel="canonical" href="{{ page.canonical_url }}">{% else %}<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">{% endif %}
<link rel="icon" href="{{ "/assets/images/prosym2_white_square.svg" | relative_url }}" type="image/svg+xml">
<link rel="stylesheet" href="{{ "/assets/css/article.css" | relative_url }}" type="text/css" />
</head>
<body id="article">
<header>
<nav id="top-navigation" class="hierarchy" aria-label="Top navigation">
<ul>
<li><a href="{{ "/" | relative_url }}">プログラミング・シンポジウム</a></li>{% for ancestor in page.ancestors %}{% assign matched = site.pages | where: "url", ancestor %}
<li><a href="{{ ancestor | relative_url }}">{{ matched[0].title }}</a></li>{% endfor %}
</ul>
</nav>
</header>
<main>
<article>{% comment %}
シンポジウム各回以外の「固定ページ」や「記事」では、意図的に page.title の <h1> やシンボルマークを <article> 下に置いています。
逆に、シンポジウム各回のページでは、意図的に page.title の <h1> やシンボルマークを <header> 下に置いています。
これは、それぞれのページにおけるタイトル部の意味合いを考えた結果です。
{% endcomment %}
<div id="heading-lines">
<div id="heading-title-line">
<div id="prosym-symbol"><a href="{{ "/" | relative_url }}"><img id="prosym-symbol" src="{{ "/assets/images/prosym2_white.svg" | relative_url }}" width="114" height="96" alt="[PS]"/></a></div><div id="title"><h1 id="title"><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h1></div>
</div>
<div id="heading-bibliography-line">
{% if page.author %}<div id="article-author">{% assign registered_author = site.people | where: "short_name", page.author | first %}{% if registered_author %}{% assign page_year_integer = page.date | date: "%Y" | plus: 0 %}{% assign page_month_integer = page.date | date: "%-m" | plus: 0 %}{% if page_month_integer >= 1 and page_month_integer <= 3 %}{% assign page_nendo = page_year_integer | minus: 1 %}{% else %}{% assign page_nendo = page_year_integer %}{% endif %}
{% if registered_author.url %}<a href="{{ registered_author.url }}">{% endif %}{{ registered_author.name }}{% if registered_author.organizer_in contains page_nendo %}&nbsp;({{ page_nendo }}年度幹事){% endif %}{% if registered_author.url %}</a>{% endif %}{% else %}
{% if page.author_url %}<a href="{{ page.author_url }}">{% endif %}{{ page.author }}{% if page.author_url %}</a>{% endif %}{% endif %}
</div>{% endif %}
<div id="article-date">{{ page.date | date: "%Y" }}年{{ page.date | date: "%-m" }}月{{ page.date | date: "%-d" }}日{% if page.update %}&nbsp;({{ page.update | date: "%Y" }}年{{ page.update | date: "%-m" }}月{{ page.update | date: "%-d" }}日更新){% endif %}</div>
</div>
</div>
<div id="article-body">
{{ content }}
</div>
</article>
</main>
{% include footer.html %}
</body>
</html>
