---
---
<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
<meta charset="utf-8">
<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}"/>
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ "/assets/images/prosym2_white_200x200.png" | relative_url }}"/>
{% if page.description %}<meta property="og:description" content="{{ page.description }}"/>{% endif %}
<meta property="og:locale" content="ja_JP"/>
<meta property="og:site_name" content="プログラミング・シンポジウム"/>
<meta name="twitter:card" content="summary"/>
<title>{{ page.title }}</title>
<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
<link rel="icon" href="{{ "/assets/images/prosym2_white_square.svg" | relative_url }}" type="image/svg+xml">
<link rel="stylesheet" href="{{ "/assets/css/page.css" | relative_url }}" type="text/css" />
</head>
<body id="page">
{% include header_page.html %}
<main>
{{ content }}
</main>
{% include footer.html %}
</body>
</html>
