---
layout: page
title: 記事・寄稿
feed: "/articles/feed.xml"
feed_title: "記事の Atom Feed"
---
<section id="about">
<p>プログラミング・シンポジウムの情報発信・アウトリーチの一環として、各種の寄稿・記事を載せられるスペースを作りました。</p>
<p>プログラミング・シンポジウムや情報科学若手の会に参加したことのある方、ぜひ記事をお寄せください。</p>
</section>

<section id="contributing" class="caveat">
<h2>寄稿にあたって</h2>
<ul class="caveat">
<li>その時の幹事以外の方から記事をお寄せいただく場合 :<ul>
<li>記事は <a href="https://ja.wikipedia.org/wiki/Markdown">Markdown</a> で記述してください。 (Markdown 以外の形式にしたい場合はご相談ください)</li>
<li>記事は<a href="https://creativecommons.jp/licenses/">クリエイティブ・コモンズ</a> バージョン 4.0 の「<a href="https://creativecommons.org/licenses/by-nc/4.0/deed.ja">表示—非営利 (CC BY-NC)</a>」でライセンスしてください。<ul>
<li>「継承 (SA)」「改変禁止 (ND)」を任意に追加して <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ja">CC BY-NC-SA</a> または <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.ja">CC BY-NC-ND</a> としていただくこともできます。</li></ul></li>
<li>記事は基本的にそのまま掲載いたしますが、幹事の判断により、修正をお願いしたり、非掲載とさせていただく可能性があります。</li>
<li>記事内容や著作権者表示を幹事が無断で改変することはありませんが、将来、非掲載になったり、スタイル変更などの影響を受けて外観などが変わったりする可能性はあります。</li></ul></li>
<li>記事には <a href="https://datatracker.ietf.org/doc/html/rfc6596">Canonical link</a> (正規化リンク) を指定できるようになっていますので、他の Web 媒体とクロスポストしていただくことも可能です。 (参考: <a href="https://developers.google.com/search/docs/advanced/crawling/consolidate-duplicate-urls?hl=ja">Google 検索</a>)</li>
</section>

<section id="articles">
<h2 class="feed">記事</h2>
<ul class="articles">{% assign last_year = "0000" %}{% for post in site.posts %}{% assign year = post.date | date: '%Y' %}{% if last_year != year %}{% if last_year == "0000" %}
<li class="article-year">{{ year }}年<ul class="articles-per-year">
{% else %}</ul></li>
<li class="article-year">{{ year }}年<ul class="articles-per-year">
{% endif %}{% assign last_year = year %}{% endif %}<li class="article"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> <span class="collation">({% if post.author_name %}{{ post.author_name }}; {% endif %}{{ post.date | date: "%Y" }}年{{ post.date | date: "%-m" }}月{{ post.date | date: "%-d" }}日)</span></li>
{% endfor %}{% if site.posts.size > 0 %}</li></ul>{% endif %}
<li class="feed"><a href="{{ "/articles/feed.xml" | relative_url }}">記事の Atom Feed</a></li>
</ul>
</section>
